/*reset*/ 
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: burlywood;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
}
#purchase_date{
    color: #8b7a7a;
}
input {
    border: none;
    border-bottom: 1px solid #8b7a7a;
    padding: 10px 0;
    background-color: rgb(238, 203, 158);
}
input [type="text"],
input [type="date"],
input [type="number"],
input [type="file"],
textarea {
    width: 400px;
}
textarea {
    padding: 10px 5px;
    background-color: rgb(238, 203, 158);
}

/*page header*/
.header {
    height: 160px;
    padding: 20px;
    background-color: purple;
}
.header h3 {
    color: aliceblue;
    margin-top: 0%;
}

.form-container {
    background-color: rgb(237, 204, 162);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}
#send{
    background-color: purple;
    color: white;
    height: 50px;
    width: 100px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

#send:hover{
    border: 2px solid;
    background-color: antiquewhite;
    border-color: purple;
    color: purple;
    
}



.header-form{
    border-bottom: 1px solid rgb(183, 153, 115);
    height: 45px;
}

.header-form p {
    color: purple;
    width: 132px;
    text-align: center;
    border-bottom: 2px solid purple;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
}

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}
.form-body p{
    margin-bottom: 20px;
}

.required-field {
    color: red;
}

.box-input {
    margin-bottom: 35px;
}

.block{
    display: block;
}

.optional-box{
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list {
    list-style: none;
    margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 15px;
}